<link rel="stylesheet" type="text/css" href="style.css">
<script src="activeButton.js"></script>

<div id="kategoriler"> 
    <a href="/bidb/dashboard"> Tümü </a>
    <a href="/bidb/dashboard/devameden" > Devam Edenler </a>
    <a href="/bidb/dashboard/gecti" > Geçti </a>
    <a href="/bidb/dashboard/donduruldu" > Donduruldu </a>
    <a href="/bidb/dashboard/iptal" > İptal </a>
    <a href="/bidb/dashboard/tamamlananlar"> Tamamlananlar </a>
</div>